.other{width: 200px;float: left; margin: auto;background-color: #ec729c;height: 700px;padding: 16px;}
/*Styles for the sidebar with links to other pages*/
/*Background color from: https://palettes.shecodes.io/palettes/819*/

header{background-color: #c54c82;color: black;padding: 16px;text-align: center;}
/* Styles for the header section of the page */
/*Background color from: https://palettes.shecodes.io/palettes/819*/

nav{float: left;width: 90%;background-color: #f4aeba;padding: 16px;height: 500px;margin: auto;}
/* Styles for the navigation bar */
/*Background color from: https://palettes.shecodes.io/palettes/819*/

.content{float: left; width: 75%; padding: 16px;height: 700px;}
 /* Styles for the main content area of the page */

.center{text-align: center;}
/*Class for centering text on homepage*/

.recipes{float: left; width: 50%; margin-bottom: 16px;height: 700px;}
/* Styles for sections displaying recipes*/

footer{background-color: #c54c82;color: black;text-align: center;padding: 16px;clear: both;}
/* Styles for the footer section of the page */
/*Background color from: https://palettes.shecodes.io/palettes/819*/

body{background-color: #ffaaa5;}
/* Styles for the overall page background */
/*Background color from: https://palettes.shecodes.io/palettes/1646*/

img{width: 270px; height: 250px;}
/* Styles for images */

@media (max-width: 600px){
    .other{
        margin: auto;
        float: none;
        width: 90%;
        height: auto;
    }
    .nav{
        margin: auto;
        float: none;
        width: 90%;
        height: auto;
    }
    .content{
        margin: auto;
        float: none;
        width: 90%;
        height: auto;
    }
    .center{
        margin: auto;
        float: none;
        width: 90%;
        height: auto;
    }
    .recipes{
        margin: auto;
        float: none;
        width: 90%;
        height: auto;
    }
    header{
        text-align: center;
    }
    img{
        width: 270px; 
        height: 250px;
    }
    a{
        display: block;
        font-size: 24px;
        color: #842A51
    }
    footer{
        background-color: #FCE4EC;
    }
}
